body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.board-container {
  width: 1000px;
  height: 1000px;
  background-color: lightpink;
  outline: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.created-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  font-size: 200px;
}

.reset-button {
  width: 300px;
  height: 50px;
}